body, html {
    background-color: gray;
    height: 100%;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#publisher {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.select {
    position: absolute;
    z-index: 1000;
    height: 30px;
    width: 250px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: small;
}

.input {
    position: absolute;
    z-index: 1000;
    height: 30px;
    font-size: small;
    width: 120px;
}

#settings {
    position: absolute;
    bottom: 20px;
    left: 400px;
}

#enums {
    position: relative;
    bottom: 20px;
    left: 0px;
}

#backgroundImageURI {
    position: relative;
    bottom: 110px;
    left: 270px;
}

#init {
    position: absolute;
    bottom: 112.5px;
    left: 420px;
    z-index: 1000;
}

#audioLevelDisplayMode {
    bottom: 0px;
}

#archiveStatusDisplayMode {
    bottom: 40px;
}

#buttonDisplayMode {
    bottom: 80px;
}

#nameDisplayMode {
    bottom: 120px;
}
